<div class="generic-table--container">
  <div class="generic-table generic-table--results-container grid">
    <div class="generic-table--sort-header-outer">
      <div class="generic-table--sort-header header-val">
          <span class="header-val">
            Значение
          </span>
      </div>
    </div>
    <div class="generic-table--sort-header-outer">
      <div class="generic-table--sort-header header-val">
          <span>
            Описание
          </span>
      </div>
    </div>
  </div>

  <tree-root 
    #tree
    (moveNode)="onMoveNode($event)"
    [nodes]="nodes"
    [options]="options">
    
    <ng-template #loadingTemplate></ng-template>

    <ng-template
      #treeNodeTemplate
      let-node
      let-index="index">
      <div class="grid">
        <input container_class=""
          class=""
          type="text"
          name="custom_field[custom_options_attributes][0][value]"
          id="custom_field_custom_options_attributes_0_value"
          [(ngModel)]="node.data.value" 
          [value]="node.data.value">

        <textarea container_class=""
          class=""
          name="custom_field[custom_options_attributes][0][description]"
          id="custom_field_custom_options_attributes_0_description"
          [(ngModel)]="node.data.description"
          [value]="node.data.description">
        </textarea>
      </div>
    </ng-template>
  </tree-root>

  <a class="icon icon-add" id="add-custom-ndested-option" (click)="addNode()">
    Добавить
  </a> 
</div>
